﻿<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">User Form</h3>
        </div>
        <div class="panel-body">
            <form name="userForm" role="form" novalidate>

                <div class="form-group" ng-class="{ 'has-error' : userForm.userEmail.$invalid && !userForm.userEmail.$pristine }">
                    <label for="userEmail">Email address</label>
                    <input type="email" class="form-control" ng-model="userEmail"
                           name="userEmail" placeholder="Enter email" required>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : userForm.userPassword.$invalid && !userForm.userPassword.$pristine }">
                    <label for="userPassword">Password</label>
                    <input type="password" class="form-control" ng-model="userPassword"
                           name="userPassword" placeholder="Password" required>
                </div>

                <button type="submit" class="btn btn-default" ng-disabled="userForm.$invalid"
                        confirm-button="{message: 'Are you sure you want to submit?' }" confirm-action="submit()">
                    Submit
                </button>
            </form>
        </div>
    </div>
</div>