﻿<section>
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">US States Data</h3>
            </div>
            <div class="panel-body">
                <button ng-click="loadStates()" class="btn btn-primary"> Load Data</button>
                <button ng-click="clearStates()" class="btn btn-primary"> Clear Data</button>
            </div>
        </div>
    </div>
    <div class="row" ng-show="usStates">
        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th>State Name</th>
                    <th>State Abbreviation</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="s in usStates">
                    <td ng-bind="s.name"></td>
                    <td ng-bind="s.abbr"></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>